body {
    font-family: Arial;
    text-align: center;
    transition: 0.3s;
}

.dark {
    background-color: #222;
    color: white;
}

button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}